<!DOCTYPE html>
<html>

<head>
    <title>blog.bleij.pro | {theme} &#xbb; {title}</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta charset="utf-8" />
</head>

<body>
    <nav id="primary">
        <ul>
            {themes}
        </ul>
    </nav>
    <nav id="secondary">
        <ul>
            {chapters}
        </ul>
    </nav>
    <main>
        <header>{title}</header>
        {body}
        <hr />
        <p>
            {links}
        </p>
    </main>
    <footer>
        <p>&#xa9; 2024 &#x2014; blog.bleij.pro</p>
    </footer>
</body>

</html>